* {
    padding: 0px;
    margin: 0px;
}

.App {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 0, 0);
}

.part1-App {
    position: relative;
    width: 100%;
    height: 13vh;
    background-color: blueviolet;
    display: flex;
    border: 3pt solid rgba(121, 121, 122, 0.692);
}

.controlPanel-App {
    position: relative;
    width: 85%;
    height: 100%;
    background-color: rgb(150, 221, 42);
    display: flex;
}


/*rgb(253, 34, 34) */

.controlPanel-App .part1 {
    position: relative;
    width: 10%;
    height: 100%;
    background-color: rgb(252, 219, 170);
    padding: 5px;
}

.controlPanel-App .part1 button {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    cursor: pointer;
}

.part1-App .enteredInfo-App {
    position: relative;
    width: 400px;
    height: 100%;
    background-color: blanchedalmond;
    display: flex;
}

.part1-App .enteredInfo-App .input {
    position: relative;
    width: 200px;
    height: 79%;
    /*background-color: green;*/
    margin-right: 10px;
    display: block;
}

.setDimension-App {
    position: absolute;
    width: 100%;
    height: 19%;
    top: 80%;
    float: left;
    /*background-color: black;*/
}

.part1-App .enteredInfo-App div #howWork {
    width: 20px;
    height: 20px;
}

.part1-App .enteredInfo-App div div {
    position: relative;
    width: 100%;
    height: fit-content;
    /*background-color: red;*/
    margin-top: 10px;
    padding: 0px;
}

.part1-App .enteredInfo-App div div .enterData {
    position: relative;
    /*background-color: rgb(151, 102, 41);*/
    width: 65%;
    float: right;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-right: 10px;
}

.part1-App .enteredInfo-App div button {
    position: relative;
    width: 50%;
    left: 40%;
    border-radius: 20px;
    cursor: pointer;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.part2-App {
    position: relative;
    width: 100%;
    height: 87vh;
    /*background-color: rgb(241, 199, 10);*/
    padding-top: 0px;
}

.part2-App .carpet {
    position: fixed;
    width: 100%;
    height: 87vh;
    background-image: url(./static/photo/carpet1.jpg);
    background-position-y: center;
    background-position-x: center;
    background-size: 100% 100%;
}

.content-App {
    position: absolute;
    height: 87vh;
    width: 100%;
    /*background-color: blue;*/
    overflow: scroll;
}

.rows-App {
    position: relative;
    min-width: 100%;
    min-height: 80px;
    /*background-color: red;*/
    display: flex;
    margin-bottom: 0px;
}

.rows-App div {
    position: relative;
    min-height: 100%;
    min-width: 40px;
    margin-right: 0px;
    border: 1pt rgb(207, 211, 231) solid;
    color: rgb(251, 255, 0);
    font-size: 10pt;
    font-weight: 850;
    padding: -40%;
}

.rows-App div div {
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}

@keyframes moveRight {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 100%;
    }
}

@keyframes moveLeft {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: -100%;
    }
}

@keyframes moveUp {
    from {
        top: 0px;
    }
    to {
        top: -100%;
    }
}

@keyframes moveDown {
    from {
        top: 0px;
    }
    to {
        top: 100%;
    }
}

#robot {
    position: absolute;
    background-image: url(./static/photo/jaroo.png);
    background-size: 115% 315%;
    background-position: center;
    z-index: 2;
    /*background-color: aquamarine;*/
}

@keyframes scaning {
    from {
        width: 0%;
        height: 0%;
    }
    to {
        width: 100%;
        height: 100%;
    }
}

#scan {
    position: absolute;
    background-color: rgba(0, 174, 255, 0.445);
    border: none;
    animation: scaning 0.55s;
    -webkit-animation: scaning 0.5s both;
}

.polluter {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.61);
    background-image: url(./static/photo/dirt.png);
    background-size: 100% 100%;
    background-position: center;
}

.terminal {
    position: absolute;
    width: 89%;
    background-color: burlywood;
    height: fit-content;
    top: 40%;
}

.terminal h1 {
    position: absolute;
    background-color: black;
    width: 70%;
    height: 4vh;
    color: rgb(153, 179, 179);
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    text-align: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    font-family: 'B kamran';
}